module.exports = {
  env: {
    es6: true,
    node: true,
  },
  extends: [
    'eslint:recommended'
  ],
  rules: {
    'linebreak-style': 'off',
    'quotes': ['error', 'single'],
    'indent': ['error', 2],
    'no-console': 'off'
  }
};