.card-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;

    a {
        text-decoration: none;
    }
}

.card {
    background-color: #292E32;
    color: $sec-white;
    width: 250px;
    margin-bottom: 15px;

    &:hover {
        background-color: #3c3d3d;
    }

    h6 {
        color: $blue;
        display: flex;
        align-items: center;

        img {
            margin-right: 10px;
        }
    }

    .card-header {
        border-bottom: 0;
    }

    .card-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $sec-black;

        div {
            padding: 5px 10px;

            &:nth-child(2) {
                border-right: 1px solid $sec-black;
                border-left: 1px solid $sec-black;
                width: 33%;
                text-align: center;
            }

            p {
                margin-bottom: 0;
                font-weight: 500;
                color: $blue;
            }

            span {
                font-size: 12px;
                display: block;
            }
        }
    }
}

.form-card {
    background-color: #3c464e;
    padding: 20px;
    border-radius: 10px;

    h3.text-center {
        color: #cac8c8;
    }

}

.form-check-label {
    color: $sec-white;
}

.form-check-input {
    border-radius: 0 !important;
    background-color: transparent !important;
    border-color: $sec-white;

    &:checked {
        border-color: #fff;
    }
    &:focus {
        border-color: $sec-white;
        box-shadow: none;
    }
}



.search-bar {
    background-color: transparent;
    border-color: #7c7f8c;

    &::placeholder {
        color: #7c7f8c;
        ;
    }
}

.worker-card {
    border: 1px solid #7c7f8c;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;

    &:nth-child(even) {
        background-color: rgb(36, 35, 35);
    }
}

.pettyCashReport {
    .actionBar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        @include mobile {
            display: block;
            margin-top: 30px;
            margin-bottom: 30px;
            text-align: center;
        }
    }

    h3 {
        @include mobile {
            margin-bottom: 20px;
        }
    }

       .badgeWrapper {
            display: flex;
            gap: 15px;
            align-items: center;
            margin-bottom: 20px;

            @include mobile {
                flex-wrap: wrap;
            }
        }
}

