        .hover-bg-gray-700:hover {
            background-color: #374151 !important;
        }

        .cursor-pointer {
            cursor: pointer;
        }

        .max-h-200 {
            max-height: 200px;
        }

        .z-3 {
            z-index: 3;
        }

        .bg-gray-800 {
            background-color: #1f2937;
        }


        .hover-bg-gray-700:hover {
            background-color: #374151 !important;
        }

        .cursor-pointer {
            cursor: pointer;
        }

        .max-h-200 {
            max-height: 200px;
        }

        .z-3 {
            z-index: 3;
        }

        .bg-gray-800 {
            background-color: #1f2937;
        }