.modal {
    display: block;
    ;
    color: $sec-black;
    background-color: #1e1e1eba;

    &.show {
        display: block;
    }

    .hide {
        display: none;
    }
}

.modal-card-header {
    margin-bottom: 10px;
    font-size: 15px;
    border-bottom: 1px solid #e6e3e3;
    padding-bottom: 15px;
}

.viewEmployee {

    .modal-card {
    .row:nth-child(even) {
        background-color: rgb(239, 241, 241);
        padding-top: 15px;
    }
}

    // .status {
    //     display: none;
    // }

    .form-control {
        border: none;
        background-color: transparent;
        padding: 0;
    }

    .form-select {
        background-color: transparent;
        border: none;
    }

}

.bio-info {
    display: flex;
    margin-bottom: 15px;
    align-items: center;

    label {
        margin-bottom: 0;
        min-width: 40%;
        margin-left: 10px;
    }
}