.modal {
    display: block;
    ;
    color: $sec-black;
    background-color: #1e1e1eba;

    &.show {
        display: block;
    }

    .hide {
        display: none;
    }
}

.modal-card-header {
    margin-bottom: 10px;
    font-size: 15px;
    border-bottom: 2px solid #e6e3e3;
    padding-bottom: 15px;
}

.viewEmployee {

    .modal-card {
        .row:nth-child(even) {
            padding-top: 15px;
            margin-bottom: 15px;
            border-top: 1px solid #e6e3e3;
            border-bottom: 1px solid #e6e3e3;
        }


    }

    .hideInView {
        display: none !important;
    }

    // .status {
    //     display: none;
    // }

    .form-control {
        border: none;
        background-color: transparent !important;
        padding: 0;
    }

    .form-select {
        background-color: transparent !important;
        border: none;
    }

}

.bio-info {
    display: flex;
    margin-bottom: 15px;
    align-items: center;

    label {
        margin-bottom: 0;
        min-width: 40%;
        margin-left: 10px;
    }
}

.alert-card {
    background-color: #fff;
}

.text-muted {
    font-size: 9px;
}

.client-form {
    max-width: 600px;

    .modal-content {
        background-color: #454647;
    }

    .modal-header {
        background-color: #727272;
    }

    .modal-title {
        color: #f3f3f3;
    }

    .form-group {
        text-align: left;
    }

    .steps {
        color: #e6e3e3;
    }

    .bio-info {
        color: #e6e3e3;
    }

    .form-steps {
        color: #e6e3e3;
    }

    .add-worker {
        background-color: #f0ad4e;
        color: #fff;
        font-size: 12px;
        padding: 3px 8px;

        &:hover {
            background-color: #e29528;
        }
    }

}

.display-client-modal {
    .modal-card {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #d7e8f3;

        &:nth-child(even) {
            background-color: #edf2f5;
        }
    }
}

.weker-call-modal {

    .list-group-item {
        margin-bottom: 15px;
        background-color: #f4f6f7;

        .text-muted {
            color: #444 !important;
        }
    }
}

// Hospital list

.hospital-modal {
    hr {
        margin-top: 0;
        border-color: #b7b7bd;
    }



    .agent-info,
    .payment-info {
        background-color: #f7f7f7;
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 15px;
        border: 1px solid #efebeb;

        &:nth-child(even) {
            background-color: #f3f3f7;
        }
    }


    .text-muted {
        color: #444 !important;
    }

    .badge {
        display: block;
        max-width: fit-content;
    }

    .comment {
        border: 1px solid #cfcdcd;
        border-radius: 10px;
        margin-bottom: 15px;
        padding: 15px 15px 5px 15px;

        &:nth-child(even) {
            background-color: #e9eef8;
        }
    }
}

.enquiry {
    .form-label {
        text-align: left !important;
        display: block;
    }

    /* thankyou-modal.css */
    .thankyou-modal .thankyou-header {
        background: #468d61;
        /* your brand color */
        color: #fff;
    }

    // .thankyou-modal .thankyou-card {
    //   border: 1px solid #d7f3e0;
    // }
    .thankyou-modal .fa-check-circle {
        color: #28a745;
        /* success */
    }
}