body {
    font-family: "IBM Plex Sans", sans-serif;
    background-color: $prim-black;
    color: $prim-white;
    padding: 0;
    margin: 0;
}

.contanier {
    .contanier {
        margin-bottom: 0;
    }

    .contanier-fluid {
        margin-bottom: 0;
    }
}

.contanier-fluid {
    .contanier {
        margin-bottom: 0;
    }

    .contanier-fluid {
        margin-bottom: 0;
    }
}

.layout {
    display: flex;
    // height: 100vh;

    @include res {
        display: block;

    }

    .layout-body {
        padding: 20px 15px 15px 15px;
        margin-top: 40px;
        width: 100%;

        @include res {
            margin-top: 0;
        }

        @include mobile {
            margin-top: 60px;
        }
    }

    .addFormBbtn {
        @include res {
            margin-top: 20px;
        }
    }
}


.small-text {
    font-size: 9px;
    color: #444;
}

.mmt-3 {
    @include mobile {
        margin-top: 30px;
    }
}