// Utils
@import 'scss/utils/variables';
@import 'scss/utils/media-quries';
@import 'scss/utils/functions';
@import 'scss/utils/helpers';
@import 'scss/utils/mixins';

// Base
@import 'scss/base/global';
@import 'scss/base/typrography';

// Vendors

// Layout
@import 'scss/layout/topNav';
@import 'scss/layout/leftNav';

// Components
@import 'scss/components/todo'; 
@import 'scss/components/card.scss';
@import 'scss/components/table';
@import 'scss/components/form'; 
@import 'scss/components/modal'; 
@import 'scss/components/boidata'; 
@import 'scss/components/dashboard'; 
@import 'scss/components/_WorkerBioDataForm'; 
@import 'scss/components/workerCallDisplay'; 
@import 'scss/components/displayWorkers.scss'; 
@import 'scss/components/admin'; 
@import 'scss/components/enquiry'; 
@import 'scss/components/shop'; 
@import 'scss/components/staff'; 
@import 'scss/components/client'; 
@import 'scss/components/ClientInfoForm'; 
@import 'scss/components/soltBook'; 

// Pages
